.employeesTableWrapper
{
    padding: 100px;
}

.addEmployeeWrapper
{
    margin: 5rem;
    padding: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.addEmployeeBtn
{
    margin-left: 20px;
}